.paragraphe {
    /*font-family: "verdana";*/
    font-family: 'Cinzel', serif;
    font-size: 100%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gold;
  }
  
  
  
  .grille {
    font-family: 'Alata', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: gold;
    font-size: 100%;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    text-align: center;
  }
  
  
  
  .footer {
    /*font-family: "Copperplate", fantasy;*/
    font-family: 'Alata', sans-serif;
    font-style: italic;
    font-size: 50%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
    background-color: gold;
    background: rgba(255,215,0,0.5);
  }